.titulo{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.grid{
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;

    &_hijo{
        display: flex;
        flex-direction: column;
        text-align: left;
    } 

    &_titulo{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        list-style:inside;
    }
    
} 