.titulos{
    padding: 1%;
    background-color: $bgColor;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    border-radius: 30%;
}

.segundo_titulo{
    padding: 1%;
    margin: 0% 23%;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    text-align: center;
}

.txt{
    background-color: $bgColor;
    padding: 1%;
    font-size: 20px;
    font-weight: 400;
    font-style: oblique;
}

.g_parrafo{
    margin: 1%;
    font-size: 20px;
    font-weight: 200;
    animation-name: efecto;
    animation-duration: 4s;

    @keyframes efecto{
        from{
           opacity: 0;
        }
        to{
           opacity: 1;
        }
    }

}

.publicidad{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .img_publicidad{
        width: 80%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .txt_publicidad{
        background-color: $colorSecundary;
        position: absolute;
        font-size: 30px;
        font-weight: 200;
    }
}

@mixin formato ($justify-content) {
    padding: 2%;
    display: flex; 
    justify-content: $justify-content;  
}
