@media screen and (max-width: 768px)
{
    /*Index*/
    .tipografia_titulo{
        font-size: 40px;
    }

    .texto{
        text-align: center;
        font-size: 20px;
    }

    .segundo_titulo{
        font-size: 30px;
        text-align: center;
    }

    .texto_video{
        display: flex;
        flex-direction: column;
        align-items: center;

        .parrafo{
            font-size: 15px;
        }
    }

    /*Caracteristicas*/
    .titulo_caracteristicas{
        font-size: 35px;
    }
    
    .grid{
        padding: 0%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        &_hijo{
            text-align: center;
        }
    
        &_titulo{
            text-align: left;
        }
    
    }

    /*Cursos*/
    .informacion{
        .titulo_info{
            font-size: 25px;
            font-weight: 200;
        }

        .texto{
            font-size: 15px;
        }
    }
    
    .titulo_cursos{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    /*Contactos*/

    .titulo_contacto{
        padding: 0%;
        margin: 0% 0%;
        font-size: 30px;
        text-decoration: underline;
        text-align: center;
    }

    .mapa_ubicacion{
        width: 50%;
    }

}